@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --cursor-default: url(/cursor_1.png) 6 4 , default;
    --cursor-pointer: url(/pointer_1.png) 6 4, pointer;
    --cursor-text: url(/text_1.png) 6 4, text;
    --shadow-3xl: 7px 12px 35px;
    --shadow-lg: 4px 4px 15px;
    --inset-shadow-sm: inset 0px 0px 70px;
    --inset-shadow-xs: inset 0px 0px 8px;
}